{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css%}{%endblock%}
</head>
<header>
  <h1>Tienda Gamer</h1>
  <h2>{%block section_title%} {%endblock%}</h2>
</header>
<nav>
  <div class="navbar">
    <a href="{% url 'index' %}">Inicio</a>
    <a href="{% url 'nosotros' %}">Nosotros</a>
    <div class="dropdown">
      <a href="{% url 'producto_lista' %}" class="dropbtn">Productos</a>
      <div class="dropdown-content">
        <a href="#">PC</a>
        <a href="#">Consolas</a>
        <a href="#">Videojuegos</a>
      </div>
    </div>
    <a href="{% url 'contacto' %}">Contacto</a>
  </div>
  
</nav>

<body>

</body>
<main>
  {%block content%} {%endblock%}
</main>
<footer> 
 <div class="footer"> 
    <div class="social_media">
      <h2>Síguenos en Redes Sociales</h2>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
    <p>Tienda Gamer 2023 - Derechos Reservados</p> 
  </div>
  

</footer>
</html>
