{%extends "core/base.html"%}

{%block section_title%} Búsqueda de Productos {%endblock%}
{%block content%}
    
      {% if buscado %}
            <h2> Resultados para: {{ buscado }} </h2>
            <br/>
            {% for producto in productos %}
                  <div class="contenedor-producto">
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="100">
                        <h2>{{ producto.nombre }}</h2>
                        <p>Precio: ${{ producto.precio }}</p>
                        {% if producto.stock > 0 %}
                              <p style="color: green;">Stock Disponible</p>
                        {% else %}
                              <p style="color: red;">No hay stock</p>
                        {% endif %}
                  </div>
            {% endfor %}

      {% else %}
            <h2>Ups, no buscaste ningún producto.</h2>      
      {% endif %}

{%endblock%}
