{%extends "core/base.html"%}
{% load static %}

{%block section_title%} Listado de Productos {%endblock%}
{%block content%}

      {% if hay_stock %}
          <p style="color: green;">Stock Disponible</p>
        {% else %}
          <p style="color: red;">No hay stock</p>
      {% endif %}
        

      <div class="contenedor-producto">
        <img src="{% static 'core/img/ryzen3.jpg' %}" alt="ryzen3">
        <h3>Ryzen 3</h3>
        <p>Precio: $99.99</p>
      </div>

      <div class="contenedor-producto">
        <img src="{% static 'core/img/mouse-logitech.jpg' %}" alt="mouse-logitech">
        <h3>Mouse Logitech</h3>
        <p>Precio: $49.99</p>
      </div>

      <div class="contenedor-producto">
        <img src="{% static 'core/img/1050ti.jpg' %}" alt="1050ti">
        <h3>Geforce 1050ti</h3>
        <p>Precio: $129.99</p>
      </div>


{%endblock%}


