{%extends "core/base.html"%}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/producto_lista.css' %}">
{%endblock%}

{%block section_title%} Listado de Productos {%endblock%}

{%block content%}

{% if perms.core.add_producto %}
  <br>
  <a style="color:blue" href="{% url 'producto_alta' %}">Dar de alta un nuevo producto</a>
  <br>
{% endif %}

<h2>Lista de Productos</h2>

<form action="{%url 'buscar_producto'%}" class="d-flex" method="POST">
  {%csrf_token%}
  <input type="search" name="buscado" placeholder="Buscar Producto"> 
  <button type="submit">Buscar</button>
</form>

<br>

<form action="{% url 'producto_lista' %}" method="GET">
  <label for="categoria">Filtrar por categoría:</label>
  <select name="categoria" id="categoria">
    <option value="">Todas</option>
    {% for categoria in categorias %}
      <option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
    {% endfor %}
  </select>
  <button type="submit">Filtrar</button>
</form>


{% for producto in productos %}
  <div class="contenedor-producto">

    {%if request.user.is_staff%}
      <div class="delete-edit">
        <a href="{% url 'producto_borrar' producto.id %}" style="color: red;">Borrar </a>
        <a href="{% url 'producto_editar' producto.id %}" style="color: blue;"> Editar</a>
      </div>
    {%endif%}
      
        
    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
    <h2>{{ producto.nombre }}</h2>
    <p>Precio: ${{ producto.precio }}</p>
      
    {% if producto.stock > 0 %}
      <p style="color: green;">Stock Disponible</p>
      {% else %}
        <p style="color: red;">No hay stock</p>
    {% endif %}

    <br>
    <a href="{% url 'detalle_producto' producto.id %}" style="color: blue">Ver detalles</a>
    <br>

    {% if user.is_authenticated %}

    <a href="{% url 'agregar_a_carrito' producto.id %}" style="color: green">Agregar al Carrito</a>

    {% endif %}
  </div>
{% endfor %}




{%endblock%}


