{%extends "core/base.html"%}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/producto_lista.css' %}">
{%endblock%}

{%block section_title%} Listado de Productos {%endblock%}
{%block content%}

  {% if perms.core.add_producto %}
    <br>
    <a style="color:blue" href="{% url 'producto_alta' %}">Dar de alta un nuevo producto</a>
    <br>
  {% endif %}
  <h2>Lista de Productos</h2>

  <form action="{%url 'buscar_producto'%}" class="d-flex" method="POST">
    {%csrf_token%}
    <input type="search" name="buscado" placeholder="Buscar Producto"> 
    <button type="submit">Buscar</button>
  </form>
 
  {% for producto in productos %}
    <div class="contenedor-producto">
      
        
      <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
      <h2>{{ producto.nombre }}</h2>
      <p>Precio: ${{ producto.precio }}</p>
      
      {% if producto.stock > 0 %}
          <p style="color: green;">Stock Disponible</p>
        {% else %}
          <p style="color: red;">No hay stock</p>
      {% endif %}
      

      
      
    </div>
  {% endfor %}




{%endblock%}


