{%extends "core/base.html"%}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">
{%endblock%}

{%block section_title%} Quienes somos? {%endblock%}
{%block content%}

<section id="nosotros">
    
    <h2>Nuestra Historia</h2>
    <p>Somos una empresa de artículos de informática con una rica historia que se remonta a más de dos décadas atrás. Fundada en el año 199X por un grupo de apasionados por la tecnología, nuestra empresa ha experimentado un crecimiento constante y una evolución significativa a lo largo de los años.</p>
    <p>Desde nuestros humildes comienzos en un pequeño local, hemos logrado expandirnos y convertirnos en un referente en la industria. Durante nuestra historia, hemos enfrentado desafíos, hemos aprendido de cada experiencia y hemos adaptado nuestras operaciones para satisfacer las necesidades cambiantes de nuestros clientes y del mercado.</p>
    <p>Hoy en día, estamos orgullosos de ser reconocidos como un proveedor confiable de productos y soluciones informáticas de alta calidad. Nuestra historia es un testimonio de nuestro compromiso con la excelencia y la innovación constante.</p>


    <h2>Nuestra Visión</h2>
    <p>Nuestra visión es convertirnos en el líder de la industria de venta de artículos de informática, ofreciendo productos de alta calidad y un servicio excepcional a nuestros clientes.</p>
    
    <h2>Nuestra Misión</h2>
    <p>Nuestra misión es proporcionar a nuestros clientes los mejores productos y soluciones informáticas, brindando un excelente servicio al cliente y garantizando la satisfacción total del cliente en cada interacción.</p>
    
    <h2>Nuestros Valores</h2>
    <ul>
        <li><b>Calidad:</b> Nos esforzamos por ofrecer productos de la más alta calidad en el mercado.</li>
        <li><b>Servicio al Cliente:</b> Ponemos a nuestros clientes en el centro de todo lo que hacemos.</li>
        <li><b>Innovación:</b> Buscamos constantemente nuevas formas de mejorar y crecer.</li>
        <li><b>Integridad:</b> Operamos de manera ética y honesta en todos nuestros negocios.</li>
    </ul>
</section>


{%endblock%}