.carousel {
    width: 100%;
    margin-bottom: 20px;
  }

  .featured-products {
    margin-bottom: 30px;
  }
  
  .featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 15px;
    width: calc(33.33% - 20px);
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  

  .categories {
    margin-bottom: 30px;
  }
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .category-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .category {
    border: 1px solid #ccc;
    padding: 15px;
    width: calc(33.33% - 20px); 
  }
  
  .category img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .category h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }