/*Estilos para las contenedores de producto*/

 
  
    

  
  .contenedor-producto {
    
    margin-top: 20px;
    margin-right: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    overflow: hidden;
    display: inline-table; 
    
    gap: 20px;
  }
  
  .contenedor-producto:hover {
    transform: scale(1.05); 
  }
  
  .contenedor-producto img {
    
    height: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  
  .contenedor-producto h2 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .contenedor-producto p {
    margin: 0;
    font-size: 1rem;
  } 