<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Gamer</title>
    <!-- Estilo/CSS 
    <link rel="stylesheet" href="estilos.css">-->
</head>
<body>
  <h1>Bienvenido a nuestra tienda Gamer </h1>
  <h2>Usuario: {{ nombre_usuario }}</h2>
  <h2>Fecha: {{ fecha }}</h2>
  <h2>Aquí encontrarás todo lo que necesitas en juegos, pc y consolas</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos totam eos iste molestiae autem labore pariatur fuga consectetur aspernatur atque. Provident dicta voluptates incidunt dolorum nostrum at nam magni ratione.</p>
    <header>
        <nav>
          <div class="navbar">  
            <a href="{% url 'producto_lista' %}">Productos</a>
            <a href="#nosotros">Nosotros</a>
            <a href="#contacto">Contacto</a>
          </div>  
        </nav>
    </header>

    

   

    <footer>
    
    </footer>
</body>
</html>
